# Please see Azure Portal
account = "Azure Batch Account"
key = "Azure Batch Key"
batch_url = "Azure Batch URL"
storage_connection_string = "Storage Connection String"
storage_acount_name="Storage Acount Name"
storage_account_key="Storage Key"
storage_url="storage url"
